/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('./assets/notiflix/notiflix-2.1.2.min.css');

body {
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #ebeeef;
}